.chat-messages {
  min-height: calc(100vh - 150px);
  max-height: 78vh;
  overflow-y:scroll;

  img {
    position: relative;
    top: -7px;
    left: -5px;
    height: auto;
    width: 32px;
  }
  .media-left {
    padding-right: 0px;
  }
}
